.ck-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: whitesmoke;
}

.ck-editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &__main {
        flex: 1 1 auto;
        [data-content-dummy] {
            visibility: hidden;
        }
        .ck-content,
        .ck-source-editing-area {
            height: 100%;
            min-height: calc(100vh - 375px);
            max-height: calc(100vh - 375px);

            textarea {
                overflow: auto !important;
            }
        }
    }
}